.main {
    border: 1px solid;
    border-color: gray;
}

#myinfoimg {
    margin-left: 50%;
}

.static{
    border: 1px solid;
}

#staticMembership{
    width: 40%;
}

#staticMembershipday{
    width: 40%;
}